/* Application wide styles */

#AnchorPane {
	-fx-background-image: url("../images/gomoku.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%;
}

#StartButton {
	-fx-alignment: center ;
	-fx-content-display: center;
}

